*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background: rgba(0, 0, 0,0.3) url(adminImg.jpg);
    /* background-image: url(adminImg.jpg); */
    background-size: cover;
    background-blend-mode: darken;
    background-repeat: no-repeat;
}
header{
    /* width: 100%; */
    height: 100px;
    /* background-color: rgb(14, 2, 27); */
    background: rgba(0, 0, 0,0.7) url(adminImg.jpg);
    background-size: cover;
    background-blend-mode: darken;
    text-align: center;
    align-content: center;
}
header h1{
    color: rgb(235, 245, 238);
    font-size: 48px;
}
.nav{
   display: flex;
   font-size: 24px;
   justify-content: space-around;
   align-items: center;
   background: #0c0b0b;
   opacity: 0.8;
   height: 42px;
}
.nav a{
    text-decoration: none;
    color: white;
}
.main{
    /* background-color: rgb(220, 214, 225); */
    display: flex;
    justify-content: center;
}
.main-img{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    /* background: red; */
    width: 70em;
}
.main-input{
    display: flex;
    justify-content: space-around;
    /* background-color: #0c0b0b; */
    height: 160px;
}

.footer{
    height: 100px;
    color: white;
    align-content: center;
}